<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- Jquery -->
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>

    <title> Log In Instagram </title>
    <style>
        /* 폰트 스타일 지정(시스템 폰트) */
        *{
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
        font-size : 14px ;
        font-weight : 500 ;
        color : #262626
        }
    </style>
  </head>

  <body style = "background-color : #FAFAFA ; width : 100% ; min-height:100%">
    <div style = "width : 350px ; height : 500px ; display : flex ; flex-direction: column; position: absolute; top: 50%; left: 50%; margin:-250px 0 0 -175px ">
        
        <!-- 1. 로그인 박스 -->
        <div style = "background-color : white ; border : 1px solid #E6E6E6 ; width : 350px ; height : 400px ; text-align : center ; margin:auto; padding : 0px 40px">
            <!-- 인스타그램 로고 -->
            <div style = "padding-top : 40px ; padding-bottom : 10px"><img style = "width : 190px",
                src = "https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/2560px-Instagram_logo.svg.png"></div>
            <!-- 로그인 양식 입력 -->
            <div class="form-floating mb-3" style = "margin-top : 15px">
                <input type="email" class="form-control" id="input_email" placeholder="name@example.com" style = "height: 38px ; background-color : #FAFAFA">
                <label for="input_email" style="font-size:12px ; color : #8E8E8E ; padding-bottom : 3px">전화번호, 사용자 이름 또는 이메일</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="input_password" style = "height: 38px ; background-color : #FAFAFA" placeholder="Password">
                <label for="input_password" style="font-size:12px ; color : #8E8E8E">비밀번호</label>
            </div>
            <!-- 로그인 버튼 -->
            <button id = "login_button" type="button" class="btn text-white" style = "background-color : #B2DFFC; width : 268px ; height : 31px ; font-weight : bold ; margin-top : 15px" >로그인</button>
            <!-- 페이스북 로그인 -->
            <div style = "display : flex ; justify-content: space-between; margin-top : 15px ; font-size: 13px; align-items: center;"> 
                <div style = "color : #8E8E8E ; font-size : 8px">―――――――――</div>
                <div style = "font-weight: bold ; color : #8E8E8E">또는</div>
                <div style = "color : #8E8E8E ; font-size : 8px">―――――――――</div>
            </div>
            <div style = "margin-top : 20px"><img style = "width : 18px ; height :18px" src="https://www.citypng.com/public/uploads/preview/-11595349592mdhzsfgakx.png">
                <a href = "https://facebook.com" style = "color : #385185 ; text-decoration-line: none"> Facebook으로 로그인</a></div>
            <!-- 비밀번호 찾기 -->
            <div style = "margin-top : 15px"><a href = "https://facebook.com" style = "color : #385185 ; text-decoration-line: none ; font-size : 12px"> 비밀번호를 잊으셨나요?</a></div>    
        </div>
        
        <!-- 2. 가입 링크 (join.html 과 연결) -->
        <div style = "background-color : white ; border : 1px solid #E6E6E6 ; width : 350px ; height : 70px ; display : flex ; align-items: center; justify-content: center;">
            <div>계정이 없으신가요? <a href = "/join" style = "color : #0095F6 ; text-decoration-line: none ; font-weight : bold"> 가입하기</a> </div> 
        </div>
    </div>

    <!-- 로그인 버튼 클릭 시 ajax -->
    <script>
        $('#login_button').click(function(){
        
        let email = $('#input_email').val();
        let password = $('#input_password').val();

        $.ajax({
          url : "/login/",
          data : {
            email : email,
            password : password,
          } ,
          method : "POST",
          success : function (data) {
            console.log("성공") ; 
            alert("로그인 성공")
            location.replace("/")
          },
          error : function (request, status, error) {
            console.log("에러")
          },
          complete : function(){
            console.log("완료");
          }
        })
      })
    </script> 

  </body>
</html>