<!-- 메인 홈페이지  -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Instagram</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- Google Material Icons -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons&family=Material+Symbols+Outlined&family=Material+Icons+Round&family=Material+Icons+Sharp&family=Material+Icons+Two+Tone" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light" style ="position : fixed; width:100%">
        <div class="container-fluid" style = "justify-content : space-between; flex-wrap : nowrap; min-width : 1000px">
          <a class="navbar-brand" href="#"><img style = "width : 100px",
                src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZSdU0AzrqjQImnJ7xXX1L-QVDwjdbcbNclg&usqp=CAU"></a>
            <!-- <form class="d-flex" role="search"> -->
              <input class="form-control me-2" style="width:350px" type="search" placeholder="Search" aria-label="Search">
              <div>
                <span class="material-icons">
                    home
                    </span>
               <span class="material-symbols-outlined">
                    send
                    </span>
               <span class="material-symbols-outlined">
                    add_box
                    </span>
                <span class="material-symbols-outlined">
                    explore
                    </span>
                <span class="material-symbols-outlined">
                        favorite
                        </span>
              </div>

            </form>
        </div>
      </nav>
    <div style = "display : flex ; flex-direction : row; justify-content : center; padding-top : 65px">
        <div style = "width : 600px ; height : 1000px">
            asd
        </div>
        <div style = "width : 400px; height : 1000px">
            asdasd
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>